.blearui-dateTimePicker {
  $primary-color: #1890ff;
  $primary-background: lighten($primary-color, 40%);
  width: 420px;
  font-size: 14px;

  &-nav {
    $nav-size: 40px;
    height: $nav-size;
    line-height: $nav-size;

    &-inner {
      width: 160px;
      text-align: center;
      margin: 0 auto;
      overflow: hidden;
    }

    $nav-arrow-size: 10px;
    $hover-background: #f5f5f5;

    &-left,
    &-right {
      position: relative;
      width: 30px;
      height: 30px;
      top: 5px;
      cursor: pointer;

      &:hover {
        background: $hover-background;
      }

      &:before,
      &:after {
        display: block;
        position: absolute;
        content: "";
        border: $nav-arrow-size solid transparent;
        top: 50%;
        margin-top: -$nav-arrow-size;
      }
    }

    &-left {
      float: left;

      &:before {
        border-right-color: #444;
        left: 0;
      }

      &:after {
        border-right-color: #fff;
        margin-left: 1px;
        left: 0;
      }

      &:hover:after {
        border-right-color: $hover-background;
      }
    }

    &-center {
      color: #222;
    }

    &-right {
      float: right;

      &:before {
        border-left-color: #444;
        left: 10px;
      }

      &:after {
        border-left-color: #fff;
        margin-left: -1px;
        left: 10px;
      }

      &:hover:after {
        border-left-color: $hover-background;
      }
    }
  }

  &-container {
    table {
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
      border: 0;
    }

    th {
      height: 40px;
      border-bottom: 1px solid #eee;
      padding: 0;
    }

    td {
      vertical-align: middle;
      border: 0;
      padding: 0;
    }
  }

  &-td {
    border: 1px solid #fff;
    color: #333;
    text-align: center;
    line-height: 40px;
    cursor: pointer;

    &:hover {
      background: $primary-background;
      border-color: $primary-background;
    }

    &_prevMonth,
    &_nextMonth,
    &_disabled {
      color: #ccc;
    }

    &_today {
      font-weight: 900;
      color: $primary-color;
    }

    &_disabled {
      border-color: #eee;
      background: #eee;
    }

    &_selected {
      &,
      &:hover {
        background: $primary-background;
        border-color: $primary-color;
        color: $primary-color;
      }
    }
  }

  &-footer {
    overflow: hidden;
    padding: 15px;
    border-top: 1px solid #eee;

    &-item {
      float: left;
      overflow: hidden;
    }

    &_3 &-item {
      width: percentage(1/3);
    }

    &_2 &-item {
      width: percentage(1/2);
    }

    &_1 &-item {
      width: percentage(1/1);
    }

    &-ipt {
      float: left;
      width: 70%;
    }

    &-label {
      float: left;
      width: 30%;
      text-align: center;
      line-height: 30px;
    }

    input {
      border: 1px solid #ccc;
      display: block;
      width: 100%;
      line-height: 28px;
      padding: 0 4px;
      text-align: center;
      border-radius: 4px;
      font-size: 14px;
    }
  }
}