<div class="blearui-dateTimePicker">
    <div class="blearui-dateTimePicker-nav">
        <div class="blearui-dateTimePicker-nav-inner">
            <div class="blearui-dateTimePicker-nav-left" @click="onPrev"></div>
            <div class="blearui-dateTimePicker-nav-right" @click="onNext"></div>
            <div class="blearui-dateTimePicker-nav-center">{{year}}年{{month + 1}}月</div>
        </div>
    </div>

    <div class="blearui-dateTimePicker-container" v-html="calendarHTML"></div>

    <div class="blearui-dateTimePicker-footer"
         v-if="options.timeable"
         :class="{
        'blearui-dateTimePicker-footer_3': options.minutesable && options.secondsable,
        'blearui-dateTimePicker-footer_2': options.minutesable && !options.secondsable,
        'blearui-dateTimePicker-footer_1': !options.minutesable
    }">
        <div class="blearui-dateTimePicker-footer-item">
            <div class="blearui-dateTimePicker-footer-ipt"><input type="text" v-model="hour" maxlength="2"></div>
            <div class="blearui-dateTimePicker-footer-label">时</div>
        </div>
        <div class="blearui-dateTimePicker-footer-item" v-if="options.minutesable">
            <div class="blearui-dateTimePicker-footer-ipt"><input type="text" v-model="minute" maxlength="2"></div>
            <div class="blearui-dateTimePicker-footer-label">分</div>
        </div>
        <div class="blearui-dateTimePicker-footer-item" v-if="options.minutesable && options.secondsable">
            <div class="blearui-dateTimePicker-footer-ipt"><input type="text" v-model="second" maxlength="2"></div>
            <div class="blearui-dateTimePicker-footer-label">秒</div>
        </div>
    </div>
</div>